<header class="z-10">
    <nav class="bg-gray-100">
        <div class="mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-end h-16">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <%= link_to '/' do %>
                        <%# <%= image_tag 'logo.png', class: 'h-8 w-auto' %>
                        <% end %>
                    </div>
                    <div class="hidden sm:block sm:ml-6">
                        <div class="flex space-x-4 items-center justify-centers">
                            <div class="relative group">
                                <%= link_to t('header.board'), '#', class: 'text-gray-700 hover:bg-gray-200 px-3 py-2 rounded-md text-sm font-medium transition duration-300 ease-in-out', id: 'header-board-menu' %>
                                <div
                                    class="absolute left-0 mt-1 w-48 bg-white rounded-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition duration-300 ease-in-out z-20">
                                    <%= link_to t('header.board_index'), boards_path, class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' %>
                                    <%= link_to t('header.cheer_index'), cheers_boards_path, class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' %>
                                    <%= link_to t('header.create_board'), new_board_path, class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' %>
                                </div>
                            </div>
                            <%= link_to t('header.duration'), '#', class: 'text-gray-700 hover:bg-gray-200 px-3 py-2 rounded-md text-sm font-medium transition duration-300 ease-in-out' %>
                            <div class="relative group">
                                <%= link_to '#', class: 'flex', id: 'header-profile' do %>
                                <%= image_tag 'sample.png', class: 'rounded-full h-10 w-10' %>
                                <!-- サイズを調整 -->
                                <% end %>
                                <div
                                    class="absolute right-0 w-48 bg-white rounded-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition duration-300 ease-in-out z-20">
                                    <div class="px-4 py-2 text-sm text-gray-700"><%= current_user.decorate.full_name %>
                                    </div>
                                    <div class="border-t border-gray-100"></div>
                                    <%= link_to t('header.profile'), '#', class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' %>
                                    <%= link_to t('header.logout'), logout_path, class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100', data: { turbo_method: :delete } %>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sm:hidden">
                    <!-- ハンバーガーメニューボタン -->
                    <button type="button"
                        class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                        aria-controls="mobile-menu" aria-expanded="false">
                        <span class="sr-only">メニューを開く</span>
                        <!-- アイコン -->
                        <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- モバイルメニュー -->
        <div class="sm:hidden" id="mobile-menu">
            <div class="px-2 pt-2 pb-3 space-y-1">
                <%= link_to t('header.board'), '#', class: 'text-gray-700 hover:bg-gray-200 block px-3 py-2 rounded-md text-base font-medium' %>
                <%= link_to t('header.duration'), '#', class: 'text-gray-700 hover:bg-gray-200 block px-3 py-2 rounded-md text-base font-medium' %>
                <%= link_to t('header.profile'), '#', class: 'text-gray-700 hover:bg-gray-200 block px-3 py-2 rounded-md text-base font-medium' %>
                <%= link_to t('header.logout'), logout_path, class: 'text-gray-700 hover:bg-gray-200 block px-3 py-2 rounded-md text-base font-medium', data: { turbo_method: :delete } %>
            </div>
        </div>
    </nav>
</header>