<!DOCTYPE html>
<html data-theme="cupcake">

<head>
  <title><%= content_for(:title) || "Suhada Note" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%# <link rel="manifest" href="/manifest.json"> %>
  <%= favicon_link_tag asset_path('favicon.ico') %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <%= display_meta_tags(default_meta_tags) %>
</head>

<body class="flex flex-col min-h-screen">
  <!-- daisyUIのドロワーコンポーネント -->
  <div class="drawer">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />

    <!-- ページコンテンツ -->
    <div class="drawer-content flex flex-col min-h-screen">
      <!-- ヘッダー -->
      <% if logged_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>
      <%= render 'shared/flash_message' %>

      <!-- メインコンテンツ -->
      <main class="flex-grow">
        <%= yield %>
      </main>

      <%= render 'shared/footer' %>
    </div>

    <!-- サイドメニュー（ドロワー） -->
    <%= render 'shared/drawer_menu' %>
  </div>
</body>

</html>